:root {
    --background-color: #121212;
	--foreground-color: #dedede;
    --foreground-good-color: rgb(0, 194, 0);
    --foreground-fair-color: rgb(206, 134, 0);
    --foreground-poor-color: rgb(161, 0, 0);
    --foreground-excellent-color: rgb(0, 199, 199);

    background: var(--background-color);
    color: var(--foreground-color);
}

.collapsible {
    box-shadow: 0 0 0 0; border: none;
}

.collapsible-header {
    position: relative;
	background-color: var(--background-color);
}

.score {
    position: absolute; 
    right: 0; 
    margin-right: 16px;
    font-weight: bold;

}

.score.good {
    color: var(--foreground-good-color)
}

.score.fair {
    color: var(--foreground-fair-color)
}

.score.poor {
    color: var(--foreground-poor-color)
}

.score.excellent {
    color: var(--foreground-excellent-color)
}

.html-output, .rich-output {
    /* border: 1px solid #eee; */
    padding: 16px;
    border-radius: 5px;
	color: white;
}

pre {
    white-space: pre-wrap;
}

table {
    border-left: 5px solid #eee;
}

table tr {
    border-bottom: none;
}

table td {
    padding: 0 0 0 10px
}

textarea {
  color: white;
}